body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, rgb(1, 43, 106), #000);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
  }
  
  .forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    height: auto;
  }
  
  .forgot-password-box {
    background-color: rgb(50, 57, 83);
    border-radius: 10px;
    padding: 20px 40px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
  }
  

  .forgot-password-title {
    font-size: 3rem;
    font-weight: bold;
    font-family: 'MedievalSharp', serif;
    text-align: center;
    margin-bottom: 1.5rem;
    color: white;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .form-label {
    display: block;
    font-size: 0.9rem;
    font-family: 'Inter', serif;
    color: #3066BE;
    margin-bottom: 0.5rem;
  }
  

  .form-input {
    width: 100%;
    padding: 0.75rem;
    border-radius: 6px;
    border: 1px solid #3066BE;
    background-color: rgb(50, 57, 83);
    color: #fff;
    font-size: 1rem;
  }
  
  .form-input:focus {
    border: 2px solid #00509e;
    outline: none;
  }

  .reset-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.75rem;
    background-color: #3066BE;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .reset-button:hover {
    background-color: #3066BE;
  }
  
  .reset-button:active {
    background-color: #3066BE;
  }
  

  .error-message {
    color: red;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    text-align: center;
  }
 
  .form-footer {
    text-align: center;
    margin-top: 1rem;
  }
  
  .back-to-login {
    font-family: 'Inter', serif;
    font-size: 0.9rem;
    color: #3066BE;
    text-decoration: none;
  }
  
  .back-to-login:hover {
    text-decoration: underline;
    color: red;
  }
  
  /* Tablet (1199px - 810px) */
  @media (max-width: 1199px) and (min-width: 810px) {
    .forgot-password-box {
      padding: 20px 30px;
      max-width: 400px;
    }
  
    .forgot-password-title {
      font-size: 2.5rem;
    }
  
    .form-input {
      padding: 0.65rem;
      font-size: 0.95rem;
    }